@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 3px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  background: hsl(0, 5%, 89%);
}

body::-webkit-scrollbar-thumb {
  background-color: linear-gradient(to right, #606c88, #3f4c6b);
  border-radius: 20px;
  border: 3px solid #606c88;
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
